<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dtu.softproj.memorizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="portrait">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Statistics" />

        <activity android:name=".numberMemoryGame.NumberMemoryActivity"/>
        <activity android:name=".numberMemoryGame.NumberGameOver"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".sequenceMemoryGame.SequenceActivity"/>
        <activity android:name=".sequenceMemoryGame.SequenceGameOver"/>
        <activity android:name=".sequenceMemoryGame.SequenceGame" />
        
        <activity android:name=".visualMemoryGame.VisualMemoryActivity"/>
        <activity android:name=".visualMemoryGame.VisualGameOver"/>
        <activity android:name=".numberMemoryGame.NumberGame"/>
        <activity android:name=".visualMemoryGame.VisualMemoryGame"/>

    </application>

</manifest>