<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dtu.softproj.memorizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Statistics"
            android:screenOrientation="portrait" />

        <activity
            android:name=".numberMemoryGame.NumberMemoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".numberMemoryGame.NumberGameOver"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".numberMemoryGame.NumberGame"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sequenceMemoryGame.SequenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sequenceMemoryGame.SequenceGameOver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sequenceMemoryGame.SequenceGame"
            android:screenOrientation="portrait" />

        <activity
            android:name=".visualMemoryGame.VisualMemoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visualMemoryGame.VisualGameOver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visualMemoryGame.VisualMemoryGame"
            android:screenOrientation="portrait" />

    </application>

</manifest>